.all{background-color: #F5E6D8;
    color: #3E3E3E;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nameSite{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-size: 2.5rem;
    margin-right: 0.5rem;
    margin-top: 0;
}

.logo{
    transform: scale(2.5);
    margin-left: 1.5rem;
    margin-right: 0.6rem;
}

.listMenu{
    list-style-type: none;
    font-size: 1.5rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin: 0;
    padding: 0;
}

.imgMenu1{
    grid-area: 1 / 1 / 2 / 2;
    transform: scale(2);
}

.imgMenu1:hover{
    background-color: #9ACD32;
    border-radius: 0.3rem;
}

.imgMenu2{
    grid-area: 1 / 2 / 2 / 4;
    transform: scale(2);
}

.imgMenu2:hover{
    background-color: #9ACD32;
    border-radius: 0.3rem;
}

.imgMenu3{
    transform: scale(2);
    grid-area: 1 / 3 / 2 / 4;
}

.imgMenu3:hover{
    background-color: #9ACD32;
    border-radius: 0.3rem;
}

#carousel{
    margin-top: 1rem;
}

.carouselInner{
    display: flex;
    flex: 1 0 100%;
    margin: 0;
    padding: 0;
}

.carousel-item{
    display: flex;
    flex: 1 0 100%;
    margin-bottom: 15%;
    margin-left: 10%;
}

#userName, #sdUserName{
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 -5vh 0;
    max-height: 1rem;
    position: absolute;
    display: flex;
    flex: 1 0;
}

.historic, .sdHistoric{
    border: 0.2rem solid #c2b4a7;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.3rem #bda78a;
    flex: 1 0 70vw;
    margin-right: 25vw;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    height:40vh;
    width: 100%;
    background-color:#c2b4a7;
}

textarea{
    border: 0.1rem solid #c2b4a7;
    border-radius: 0.5rem;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 90%;
    color: #686868;
    max-height: 30%;
    grid-area: 2 / 1 / 2 / 4;
    resize: none;
    margin-top: auto;
}

.send, .sdSend {
  background: #8C785D;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  height: 30%;
  grid-area: 2 / 4 / 2 / 5;
  margin-top: auto;
}

.send:hover, .sdSend:hover{
  background-color: #9ACD32;
}

.control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -15%;
    margin-bottom: 4.5vh;
}

.change{
    position: relative;
    top: 45%;
    margin-top: 0.5rem;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    color: #3E3E3E;
    border: none;
    border-radius: 0.5rem;
    background-color: #8C785D;
    box-shadow: 0.2rem 0.2rem 0.3rem #744d26;
    text-shadow: 0.2rem 0.1rem 0.2rem #bda78a;
}

.change:hover{
    background-color: #9ACD32;
    text-shadow: 0.2rem 0.1rem 0.2rem #8C785D;
}

main, #sdUser{
    flex: 1;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 3.5vh;
    margin-bottom: 0;
}

.send img, .sdSend img{
    transform: scale(1.7);
}