.all{background-color: #e6ede4;
    color: #2A363B;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#nameSite{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-size: 2.5rem;
    margin-right: 0.5rem;
    margin-top: 0;
}

.logo{
    transform: scale(2.5);
    margin-left: 1.5rem;
    margin-right: 0.6rem;
}

.listMenu{
    list-style-type: none;
    font-size: 1.5rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin: 0;
    padding: 0;
}

.imgMenu1{
    grid-area: 1 / 1 / 2 / 2;
    transform: scale(2);
}

.imgMenu1:hover{
    background-color: #98cbb9;
    border-radius: 0.3rem;
}

.imgMenu2{
    grid-area: 1 / 2 / 2 / 4;
    transform: scale(2);
}

.imgMenu2:hover{
    background-color: #98cbb9;
    border-radius: 0.3rem;
}

.imgMenu3{
    transform: scale(2);
    grid-area: 1 / 3 / 2 / 4;
}

.imgMenu3:hover{
    background-color: #98cbb9;
    border-radius: 0.3rem;
}

main, #sdUser{
    flex: 1;
    max-width: 100%;
}

#carousel{
    margin-top: 1rem;
}

.carouselInner{
    display: flex;
    flex: 1 0;
    padding: 0;
    margin: 0;
}

.carousel-item{
    display: flex;
    flex: 1 0;
    margin-bottom: 15%;
}

.align{
    display: flex;
    flex-direction: column;
    height: 55vh;
}

.ST{
    margin-left: 15vw;
    margin-right: 10vw;
}

.SD{
    margin-left: 20vw;
    margin-right: 20vw;
}

.sdItem{
    display: none;
}

#userName{
    font-family: "Courier Prime", monospace;
    font-weight: 500;
    font-style:normal;
    max-height: 0.5rem;
}

.ST .align h2{
    color: #FFB300;
    text-shadow: 0.2rem 0.1rem 0.2rem #bdc4bc;
}

.SD .align h2{
    color: #C97A4C;
    text-shadow: 0.2rem 0.1rem 0.2rem #bdc4bc;
}

.historic{
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.3rem #bdc4bc;
    flex: 1;
    display: flex;
    flex-direction: column;
    height:40vh;
    width: 70vw;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #F0F7EE;
}

.historic::-webkit-scrollbar{
    width: 1rem;
    padding: 0.3rem;
    background-color: #e6ede4;
    border-radius: 0.5rem;
}

.historic::-webkit-scrollbar-thumb{
    background-color: #98cbb9;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.2rem #568877;
}

.chat, .sdChat{
    flex: 1;
    padding: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.balloon, .sdBalloon{
    align-items: center;
    width: auto;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.2rem #bdc4bc;
    padding: 0.3rem;
    margin: 0.2rem 0;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

.stArea, .balloon{
    background-color: #FFE68A;
    color: #2E3D49;
}

.sdArea, .sdBalloon{
    background-color: #F1A07A   ;
    color: #2A363B;
}

.input{
    display: flex;
    align-items: center;
    margin-top: auto;
}

textarea{
    border: 0;
    border-radius: 0.5rem;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 90%;
    flex: 3;
    min-height: 5vh;
    padding: 0.2rem;
    grid-column: 1 / 4;
    resize: none;
    box-shadow: 0.1rem 0.1rem 0.2rem #8C7853;
}

.send, .sdSend{
  background: #B5EAD7;
  box-shadow: 0.1rem 0.1rem 0.2rem #568877;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  min-height: 6.5vh;
  grid-column: 4 / 5;
}

.send:hover, .sdSend:hover{
  background-color: #98cbb9;
  border: 0.1rem solid #568877;
}

.control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -15%;
    margin-bottom: 4.5vh;
}

.change{
    position: relative;
    top: 45%;
    margin-top: 0.5rem;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    color: #2E3D49;
    border: none;
    border-radius: 0.5rem;
    background-color: #B5EAD7;
    box-shadow: 0.2rem 0.2rem 0.3rem #568877;
    text-shadow: 0.1rem 0.1rem 0.3rem #586775;
}

.change:hover{
    background-color: #98cbb9;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.send img, .sdSend img{
    transform: scale(1.7);
}